@import "bootstrap";

//Variables

        //Header
        $heightRow1: 50px;
        $heightRow2: 50px;

        //Footer
        $fHColor:#FEFEFE;
        $fTColor:#F8F8F8;
        $footerBotonFSize:2em;
        $footerParFSize:1.75em;
        $footerParFWeight:300;

//Estructura y estilo
    //Header
        //Para compensar el navbar (ver documebtación bootstrap)
            body { padding-bottom: 70px; }

        //Arreglando botones desalineados
        /* .btn {
            display: inline;
        } */
        .row1 {
            display: none;
            @media screen and (min-width:768px) and (max-width:991px) {
                display: inherit;
                height: $heightRow1;
            }
                img {
                    height: $heightRow2;
                    width: auto;
            }
        }
        .row2 {
            height: $heightRow2;
            div {
                height: 100%;
                img {
                    height: 100%;
                    width: auto;
                }
                ul {
                    height: 100%;
                    li img {
                        height: $heightRow2;
                        width: auto;
                    }
                }
            }
            .desktopNav {
                @media screen and (max-width:1001px) {
                    display: none;
                }
            }
            }
        
        .row3 {
            .desktopfilter {
                @media screen and (max-width:1001px) {
                    display: none;
                }
            }
            .mobileNav {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }
            .tabletNav {
                @media screen and (min-width:1002px) {
                    display: none; 
                }
                @media screen and (max-width:767px) {
                    display: none; 
                }
            }
            .mobileFilter {
                @media screen and (min-width:1002px) {
                    display: none;
                }
            }
        }
        
//Footer

    .footer {
        background: #47484B;
        text-align: center;
        h2 {
            color: $fHColor;
        }
        button {
            &.footerBoton {
                font-size: $footerBotonFSize;
                margin: 10px;
                width: 80%;
            }
            &.back {
                color:$fTColor;
                margin: 0 10px;
                padding: 20px;
                &:hover {
                    color: $fTColor;
                    text-decoration: none;
                }
            }
        }
        p {
            width: 80%;
            padding-top: 20px;
            margin: 0 auto;
            text-align: left;
            color: $fTColor;
            font-size: $footerParFSize;
            font-weight: $footerParFWeight;
            @media screen and (max-width:991px) {
                display: none;
            }
        }
        .socialFooter {
            margin: 0;
            padding: 10px;
            text-align: center;
            @media screen and (max-width:991px) {
                padding: 40px 0;
            }
            img {
            width: 80px;
            height: auto;
            @media screen and (min-width:992px){
                    margin: 10px;
                }
            }
        }
    }