@import "bootstrap";

//Variables

        //Header
        $heightRow1: 50px;
        $heightRow2: 50px;
        $desktopNavLinkColor: #717175;
        $desktopNavLinkHoverColor:#F8A732;
        $desktopNavFontSize: 1.2em;

        //Footer
        $fHColor:#FEFEFE;
        $fTColor:#EFEFF0;
        $footerBotonFSize:2em;
        $footerBotonFSizeMobile:1.2em;
        $footerParFSizetablet: 1.4em;
        $footerParFSize:1.75em;
        $footerParFWeight:300;
        $footerParFSizeMobile:1em;
        $footerParFWeightMobile:200;

        //Posts
        $postFontWeight: 600;
        $postFontSize: 2.5em;
        $postFontSizeMobile: 1.8em;
        $postTitleColor: #F8A732;
        $postTitleHoverColor: #717175;
        $postTextColor: #262624;

        //Overlay
        $overlayTextColor: #fff;
        $overlayFontSize: 1.2em;

//Cambiando los defaults:

//Botones default

.btn-primary {
    background: #9DA8AB;
    color: #FEFEFE;
    border-color: inherit;
    &:hover {
        background: #F8A732;
    }
}

.btn-link {
    color: #717175;
}

//Estructura y estilo
    //Header
        //Arreglando botones desalineados
        /* .btn {
            display: inline;
        } */
        .row1 {
            display: none;
            @media screen and (min-width:768px) and (max-width:991px) {
                display: inherit;
                height: $heightRow1;
                margin: 10px 0;
            }
                img {
                    height: $heightRow2;
                    width: auto;
            }
        }
        .row2 {
            height: $heightRow2;
            margin: 20px 0;
            @media screen and (min-width:768px) {
                margin: 30px 0;
            }
            div {
                height: 100%;
                img {
                    height: 100%;
                    width: auto;
                }
                ul {
                    height: 100%;
                    li img {
                        height: $heightRow2;
                        width: auto;
                    }
                }
            }
            .desktopNav {
                @media screen and (max-width:991px) {
                    display: none;
                }
                ul li {
                    font-size: $desktopNavFontSize;
                    font-weight: 300;
                    padding: 0 20px;
                    a {
                        color: $desktopNavLinkColor;
                        &:hover {
                            color: $desktopNavLinkHoverColor;
                            text-decoration: none;
                        }
                    }
                }
            }
            }
        
        .row3 {
            .desktopfilter {
                @media screen and (max-width:991px) {
                    display: none;
            }
                font-size: 1.5em;
                font-weight: 300;
                li {
                    margin: 10px 0;
                    &.active a {
                        background: #F8A732;
                    }
                    a {
                        padding: 10px 0px 10px 10px;
                        font-size: 0.8em;
                        width: 80%;
                    }
                }
            }
            .mobileNav {
                    @media screen and (min-width:768px) {
                        display: none;
                    }
                }
            .tabletNav {
                @media screen and (min-width:992px) {
                    display: none; 
                }
                @media screen and (max-width:767px) {
                    display: none; 
                }
            }
            .mobileFilter {
                @media screen and (min-width:992px) {
                    display: none;
                }
            }
            .backButton {
                padding: 0;
                margin-top: 20px;
            }
            .content  {
                p {
                    line-height: 1.75;
                    font-size: 1.25em;
                    @media screen and (max-width:991px) {
                        font-size: 1.25em;
                        padding: 0 20px;
                    }
                    font-weight: 300;
                    margin: 0 auto 20px;
                }
                img {
                    margin-bottom: 20px;
                }
            }
        }       


//Footer

    .footer {
        background: #47484B;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 50px;
        h2 {
            color: $fHColor;
        }
        a {
            &.footerBoton {
                font-size: $footerBotonFSize;
                @media screen and (max-width:768px) {
                    font-size: $footerBotonFSizeMobile;
                }
                margin: 10px;
                width: 95%;
            }
            &.upButton {
                color:$fTColor;
                margin: 0 10px;
                padding: 15px;
                &:hover {
                    color: $fTColor;
                    text-decoration: none;
                }
            }
        }
        p {
            width: 90%;
            padding-top: 10px;
            margin: 0 auto;
            text-align: left;
            color: $fTColor;
            font-size: $footerParFSize;
            font-weight: $footerParFWeight;
            @media screen and (max-width:991px) {
                display: none;
            }
                &.mobileFooterText {
                    display: block;
                    font-size: $footerParFSizeMobile;
                    @media screen and (min-width:768px) {
                        font-size: $footerParFSizetablet;
                    }
                    padding: 0;
                    font-weight: $footerParFWeightMobile;
                    text-align: center;
                    @media screen and (min-width:992px) {
                        display: none;
                    }
                }
            }
        
        .footerSocialIcons {
            margin: 0;
            padding: 0;
            text-align: center;
            @media screen and (max-width:991px) {
                padding: 40px 0;
            }
            img {
            width: 90px;
            @media screen and (max-width:991px) {
                width: 80px;
            }
            @media screen and (max-width:400px) {
                width: 50px;
            }
                margin: 0 10px 0;
            height: auto;
            @media screen and (min-width:992px){
                    margin: 10px;
                }
            }
        }
    }

//Post-stylying

h1 {
    font-weight: $postFontWeight;
    font-size: $postFontSize;
    @media screen and (max-width:767px) {
        font-size: $postFontSizeMobile;
    }
    color: $postTitleColor;
    margin: 20px 0 0;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $postTitleHoverColor;
            text-decoration: none;
        }
    }
}
small {
    padding: 10px 0 20px;
    display: inline-block;
}

.excerpt {
    padding: 20px 0 0;
    color: $postTextColor;
}

.morePosts {
    padding-top: 20px;
    @media screen and (max-width:1001px) {
        padding-top: 10px;
    }
}

.readMore {
    padding: 10px 0;
}

// Custom Modal CSS
#overlay {
    color: $overlayTextColor;
    font-size: $overlayFontSize;
    display: none;
    background:rgba(248,167,49,0.975);
    width:100%;
    height:100%;
    position:fixed;
    padding: 20px;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    text-align:left;
    h1 {
        color: $overlayTextColor;
        padding-bottom: 10px;
    }
    p {
        padding-bottom: 40px;
    }
    input:nth-of-type(2) {
        margin-bottom: 40px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (max-width:767px) {
            li:nth-of-type(2) {
                padding-top: 20px;
            }
        }
    }
    button {
        font-size: 1.5em;
        text-decoration: none;
        &:nth-of-type(2) {
            font-weight: 200
        }
    }
}

.form-group {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top:100px;
}